html {
    overflow:hidden;
}
body {
    width: 100%;
    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Academy Engraved LET', sans-serif;
    font-size: 30%;
}
div {
    
    
}