html {
    overflow: hidden;
}

body {
    width: 100%;
    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Academy Engraved LET', sans-serif;
    font-size: 30%;
}

#logo {
    position: absolute;
    top: 24%;
    left: 10%;
}

.button {
    display       : inline-block;
    border-radius : 50px;
    font-size     : 14pt;
    cursor: pointer;
    text-align    : center;
    padding       : 12px 144px;
    margin: 18px;
    background    : #565756;
    color         : #FFB44D;
    transition    : .2s;
    box-shadow    : 4px 4px 10px #666666;
    border        : 2px solid #FFB44D;
  }
  .button:active {
    box-shadow    : none;        /* カーソル時の影消去 */
  }

  .toForm {
    position: absolute;
    top: 50%;
    right: 10%;
  }