html, body {
    height: 100%;
    overflow: hidden;
}

input:not(input[type="button"]) {
    background-color: transparent!important;
}

input::placeholder {
    color: gray!important;
    font-size: 10px;
}

input:not(input[type="button"]) {
    color: white !important;
    ;
}

._is-centered {
    margin: 24vh 30px;
}

@media screen and (min-width: 769px) {
    ._is-centered {
        margin: 24vh auto;
        width: 696px;
    }
}